<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>系统邮件中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 10px 6px;">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px;text-align: center;">
                                        <b>$$EmailHead$$</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 15px; line-height: 20px;line-height: 1.5;text-align: justify;">
                                        <p style="text-indent: 1em;">
                                            $$EmailBody$$
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ee4c50" style="padding: 20px 10px 30px 10px; line-height: 1.5;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;text-align: left;" width="100%">
                                        <font color="#ffffff">联系方式：18284594619</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;text-align: left;" width="100%">
                                        <font color="#ffffff">邮箱地址：zhaoyi_dsx@163.com</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="100%">
                                        成都携手同鑫网络科技有限公司版权所有&nbsp;&nbsp;&copy;&nbsp;&nbsp;2017-2018<br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>